/************ Variables and overall settings ************/
:root {
  --mainfont: Arial, Helvetica, sans-serif;
  --linkcolor: #da5200;
  --mainfontcolor: #003a64;
  --sidemargin: 2vw;
  --verticalmargin: 2vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eaf0f5;
  font-family: var(--mainfont);
  color: var(--mainfontcolor);
}

a {
  color: var(--linkcolor);
}

h1 {
  font-size: 36px;
}

/************ Header ************/
.logo_and_nav {
  display: flex;
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  max-width: 10vw;
  max-height: 10vh;
  margin: var(--verticalmargin) 0 0 var(--sidemargin);
}

ul {
  display: flex;
  margin: 3.5vh var(--sidemargin) 0vh var(--sidemargin);
}

li {
  margin: 0 var(--sidemargin);
  list-style-type: none;
  font-size: 1.2rem;
}

/************ Main ************/
.hero-banner {
  width: 100%;
  min-height: 85vh;
  background: url(https://source.unsplash.com/FIKD9t5_5zQ/1600x900) no-repeat
    fixed center center/cover;
  z-index: -1;
}

.hero-banner > h1 {
  text-align: center;
  padding-top: 40vh;
}

section > h2,
section > p {
  margin: 0 var(--sidemargin);
  padding: var(--verticalmargin) 0 1vh;
}

#work,
#skills {
  background-color: #eaf0f5;
}

#experience {
  background-color: #82b3d5;
}

.work-cards {
  display: flex;
  justify-content: space-around;
}

.card {
  color: white;
  background-color: #004576;
  border-radius: 3%;
  width: 22%;
  max-height: 50vh;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 3px 7px rgb(39, 39, 39);
}

.card-picture {
  max-height: 15vh;
  max-width: 15vw;
}

/************ Footer ************/
#footer {
  text-align: center;
  background-color: #82b3d5;
}

#footer > h2,
#footer > p {
  padding: var(--verticalmargin) 0;
}

input,
textarea {
  margin: 4px;
  border-radius: 4%;
  background-color: #eaf0f5;
}

input {
  padding: 0.5vh;
}

#submit {
  padding: 0.5vh 0.9vw;
  background-color: #eaf0f5;
  color: #da5200;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/************ Other devices' settings ************/
@media only screen and (max-width: 600px) {
  .logo {
    max-height: 12vh;
    max-width: 12vw;
  }

  li {
    font-size: 14px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 10px;
  }

  .box {
    width: 28%;
    max-height: 50vh;
    margin: 4vw;
    padding: 1rem;
  }

  .box > p,
  .box > a {
    font-size: 10px;
  }

  p {
    font-size: 12px;
  }
}
